<dx-button text="GET" (onClick)="get()"></dx-button>
<dx-button text="PUT" (onClick)="put()"></dx-button>
<dx-button text="POST2" (onClick)="post()"></dx-button>
<dx-button text="DELETE" (onClick)="delete()"></dx-button>